apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: db
  name: db
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: db
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: db
    spec:
      automountServiceAccountToken: false
      containers:
        - env:
            - name: PUID
              value: "0"
            - name: PGID
              value: "0"
            - name: TZ
              value: America/Los_Angeles
          envFrom:
            - secretRef:
                name: db-secrets
                optional: false
          image: linuxserver/mariadb:alpine-version-10.5.16-r0
          imagePullPolicy: Always
          livenessProbe:
            exec:
              command:
                - ash
                - -c
                - mysqlshow -u root -p$MYSQL_ROOT_PASSWORD
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 1
          name: db
          ports:
            - containerPort: 3306
              name: db
              protocol: TCP
          readinessProbe:
            exec:
              command:
                - ash
                - -c
                - mysqlshow -u root -p$MYSQL_ROOT_PASSWORD
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              cpu: "4"
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 256Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /config
              mountPropagation: None
              name: config
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      nodeSelector:
        kubernetes.io/hostname: debian-storage
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      shareProcessNamespace: false
      terminationGracePeriodSeconds: 30
      volumes:
        - hostPath:
            path: /work/storage/configs/mysql
            type: Directory
          name: config
