apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: jelly
  name: jelly
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: jelly
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: jelly
    spec:
      automountServiceAccountToken: true
      containers:
        - env:
            - name: UMASK
              value: "022"
            - name: S6_READ_ONLY_ROOT
              value: "1"
          envFrom:
            - configMapRef:
                name: common-vars
                optional: false
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              add:
                - CHOWN
                - SETGID
                - SETUID
                #- NET_RAW
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: false
            #runAsGroup: 65534 TODO: run these as non-root someday, but linux server containers run supervisor processes as root
            #runAsNonRoot: true
            #runAsUser: 65534
          image: lscr.io/linuxserver/jellyfin:10.8.0@sha256:82dac3dcbd22876f1444f3be2b3283d9569f3c69e9dd70196b1b84f253f5189e
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 8096
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          name: jelly
          ports:
            - containerPort: 8096
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 8096
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              cpu: "16"
              memory: 4Gi
            requests:
              cpu: "2"
              memory: 2Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /config
              mountPropagation: None
              name: config
            - mountPath: /media
              mountPropagation: None
              name: media
            - mountPath: /media-remote
              mountPropagation: None
              name: media-remote
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      nodeSelector:
        kubernetes.io/hostname: debian-storage
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      shareProcessNamespace: false
      terminationGracePeriodSeconds: 30
      volumes:
        - hostPath:
            path: /work/storage/configs/jelly
            type: Directory
          name: config
        - hostPath:
            path: /media
            type: Directory
          name: media
        - hostPath:
            path: /work/storage/media-remote
            type: Directory
          name: media-remote
