---
apiVersion: batch/v1
kind: CronJob
metadata:
    name: renovate
spec:
    schedule: '@hourly'
    concurrencyPolicy: Forbid
    failedJobsHistoryLimit: 1
    successfulJobsHistoryLimit: 1
    jobTemplate:
        spec:
            backoffLimit: 3
            template:
                metadata:
                    labels:
                        app: renovate
                    annotations:
                        vault.security.banzaicloud.io/vault-tls-secret: vault-tls
                spec:
                    automountServiceAccountToken: true
                    containers:
                        - name: renovate
                          image: renovate/renovate:32.118.0@sha256:ca71457608a4e4416a7e50cf652f676c9cd4082e8dc631d328a0cf33993d92de
                          imagePullPolicy: IfNotPresent
                          tty: true
                          stdin: true
                          securityContext:
                            allowPrivilegeEscalation: false
                            capabilities:
                                drop:
                                    - ALL
                            privileged: false
                            readOnlyRootFilesystem: false
                            runAsNonRoot: true
                          command:
                              - bash
                              - -c
                              - export GPG_TTY=$(tty) && echo $(tty) && renovate Rich7690/home-server-config
                          env:
                              - name: LOG_LEVEL
                                value: info
                          envFrom:
                              - secretRef:
                                    name: renovate-env
                    restartPolicy: Never
---
apiVersion: v1
kind: Secret
metadata:
    name: renovate-env
type: Opaque
stringData:
    GITHUB_COM_TOKEN: vault:secret/data/deploy/renovate#pat
    RENOVATE_TOKEN: vault:secret/data/deploy/renovate#pat
    RENOVATE_AUTODISCOVER: 'false'
    RENOVATE_PLATFORM: github
    RENOVATE_GIT_PRIVATE_KEY: vault:secret/data/deploy/renovate#gpg-key
    RENOVATE_ONBOARDING: 'false'
    RENOVATE_REDIS_URL: redis://redis:6379
    RENOVATE_USERNAME: Rich7690
    RENOVATE_GIT_AUTHOR: Rich7690 Self-Hosted Renovate <11451714+Rich7690@users.noreply.github.com>
    RENOVATE_PLATFORM_COMMIT: 'false'
